@font-face {
  font-family: YOZAKURA;
  src: url(fonts/YOZAKURA-Regular.otf);
}

@font-face {
  font-family: INVASION2000;
  src: url(fonts/INVASION2000.TTF);
}

@font-face {
  font-family: BACKTO1982;
  src: url(fonts/BACKTO1982.TTF);
}

@font-face {
  font-family: Neon Energ;
  src: url(fonts/Neon\ Energy\ x.ttf);
}

@font-face {
  font-family: LTAspirerNeue-Thin;
  src: url(fonts/LTAspirerNeue-Thin.otf);
}

@font-face {
  font-family: SS;
  src: url(fonts/S&S\ Nickson\ One.otf);
}

@font-face {
  font-family: Midorima;
  src: url(fonts/Midorima-PersonalUse-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(img/body/wallpeper1.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
/*utal class*/
.border {
  border: 1px solid white;
}

/* Styleing of some elment*/
.container {
  width: 100%;
  height: 100vh;
  color: white;
}

/*------------ phone ------------*/
@media (max-width: 50rem) {
  /*------------------------ head ------------------------*/
  .container .head {
    z-index: 2;
    border-radius: 0 0 2rem 2rem;
    background-color: black;
    height: 24vh;
  }
  /*------------ logo ------------*/
  .container .head .logo {
    width: 100%;
    text-align: center;
    font-family: "YOZAKURA";
    font-size: 3.5em;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
  }
  .container .head .logo h1 {
    margin: 0;
  }

  /*------------ nav ------------*/
  .container .head .nav {
    width: 50%;
    height: 10vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .head .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .container .head .nav ul li {
    padding: 15%;
    margin-top: 15%;
  }
  .container .head .nav ul li img {
    width: 1.5rem;
  }

  /*------------ user ------------*/
  .container .head .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 50%;
    float: right;
  }

  .container .head .user .inner_user {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #222222;
    padding: 1%;
    border-radius: 5rem;
    width: 75%;
    margin-right: 5%;
  }

  .container .head .user .inner_user .pfp img {
    width: 3.5rem;
    clip-path: circle(50%);
  }
  .container .head .user .inner_user .line {
    width: 20%;
  }
  .container .head .user .inner_user .line hr {
    transform: rotate(90deg);
  }

  .container .head .user .inner_user .btn img {
    height: 3rem;
    clip-path: circle(50%);
    border: 1rem solid #000000;
  }

  /*------------------------ main ------------------------*/
  .container .main-padding {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .container .main-padding .img-main {
    position: absolute;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main-padding .img-main img {
    height: 100%;
  }
  .container .main {
    height: 96vh;
    width: 100%;
    border-radius: 2rem;
    background-image: url(img/main/main-wallpeper.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  /*--- text_wallpeper ---*/
  .container .main .itColored {
    font-family: "INVASION2000";
    font-size: 20vw;
    text-align: center;
    margin: 0;
    padding: 1%;
    position: relative;
  }
  .container .main .itColored span {
    color: blueviolet;
  }
  .container .main .notColored {
    font-family: BACKTO1982;
    font-size: 20vw;
    height: 20vh;
    text-align: center;
    margin: 0;
    padding: 1%;
    position: relative;
  }
  .container .main .text-Wallpaper {
    display: grid;
    gap: 1%;
    grid-template-areas:
      "text1"
      "text2"
      "text3"
      "text4"
      "text5"
      "text6"
      "text7"
      "text8";
  }
  .container .main .text-Wallpaper {
    grid-template-areas:
      "text1"
      "text2"
      "text3"
      "text4"
      "text5"
      "text6"
      "text7"
      "text8";
  }
  div[class*="cont-colored"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main .text-Wallpaper p {
    display: block;
  }
  .container .main .text-Wallpaper .colored1 {
    grid-area: text1;
  }
  .container .main .text-Wallpaper .colored2 {
    grid-area: text2;
  }
  .container .main .text-Wallpaper .colored3 {
    grid-area: text3;
  }
  .container .main .text-Wallpaper .colored4 {
    grid-area: text4;
  }
  .container .main .text-Wallpaper .colored5 {
    grid-area: text5;
  }
  .container .main .text-Wallpaper .colored6 {
    grid-area: text6;
  }
  .container .main .text-Wallpaper .colored7 {
    grid-area: text7;
  }
  .container .main .text-Wallpaper .colored8 {
    grid-area: text8;
  }
}

/*-------------------------------------------------------------*/

/*------------ decktop ------------*/
@media (min-width: 50rem) {
  /*------------ head ------------*/

  /*set grid for head*/
  .container .head {
    z-index: 2;
    width: 100%;
    height: 100vh;
    border-radius: 0 2rem 2rem 0;
    background-color: black;
    display: grid;
    grid-auto-rows: 15% 50% 35%;
    grid-template-areas:
      "logo"
      "nav"
      "user";
  }
  .container .head {
    grid-template-areas:
      "logo"
      "nav"
      "user";
  }
  .container .head .logo {
    grid-area: logo;
  }
  .container .head .nav {
    grid-area: nav;
  }
  .container .head .user {
    grid-area: user;
  }

  /*center the logo*/
  .container .head .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .container .head .logo h1 {
    font-family: "YOZAKURA";
    font-size: 3.5em;
  }
  /*------------ nav ------------*/

  /*center the nav*/
  .container .head .nav {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .container .head .nav ul {
    list-style: none;
    line-height: 3.5rem;
    padding: 0;
    display: block;
  }

  /*style the nav*/
  .container .head .nav ul li img {
    width: 1.5rem;
  }

  /*center the user*/
  .container .head .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .container .head .user .inner_user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /*style the user*/
  .container .head .user .inner_user {
    background-color: #222222;
    padding: 5px;
    border-radius: 5rem;
    height: 80%;
  }
  .container .head .user .inner_user .pfp img {
    width: 4.5rem;
    clip-path: circle(50%);
  }
  .container .head .user .inner_user .line {
    width: 50%;
  }
  .container .head .user .inner_user .btn img {
    width: 3rem;
    clip-path: circle(50%);
    border: 1rem solid #000000;
  }

  /*------------------------ main ------------------------*/
  .container .main-padding {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .container .main-padding .img-main {
    position: absolute;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main-padding .img-main img {
    height: 100%;
  }
  .container .main {
    height: 96vh;
    width: 100%;
    border-radius: 2rem;
    background-image: url(img/main/main-wallpeper.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  /*--- text_wallpeper ---*/
  .container .main .itColored {
    font-family: "INVASION2000";
    font-size: 10vw;
    text-align: center;
    margin: 0;
    padding: 1%;
    position: relative;
  }
  .container .main .itColored span {
    color: blueviolet;
  }
  .container .main .notColored {
    font-family: BACKTO1982;
    font-size: 7vw;
    text-align: center;
    margin: 0;
    padding: 1%;
    position: relative;
  }
  .container .main .text-Wallpaper {
    display: grid;
    gap: 1%;
    grid-template-areas:
      "text1"
      "text2"
      "text3"
      "text4"
      "text5"
      "text6"
      "text7"
      "text8";
  }
  .container .main .text-Wallpaper {
    grid-template-areas:
      "text1"
      "text2"
      "text3"
      "text4"
      "text5"
      "text6"
      "text7"
      "text8";
  }
  div[class*="cont-colored"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main .text-Wallpaper .colored1 {
    grid-area: text1;
  }
  .container .main .text-Wallpaper .colored2 {
    grid-area: text2;
  }
  .container .main .text-Wallpaper .colored3 {
    grid-area: text3;
  }
  .container .main .text-Wallpaper .colored4 {
    grid-area: text4;
  }
  .container .main .text-Wallpaper .colored5 {
    grid-area: text5;
  }
  .container .main .text-Wallpaper .colored6 {
    grid-area: text6;
  }
  .container .main .text-Wallpaper .colored7 {
    grid-area: text7;
  }
  .container .main .text-Wallpaper .colored8 {
    grid-area: text8;
  }
  /*------------------------ start area_three ------------------------*/
  .container-grid .area_three {
    display: grid;
    grid-template-areas: "w1" "w2" "w3";
    width: 100%;
    height: 100vh;
  }

  .container-grid .area_three .area_three_1st {
    grid-area: w1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
    padding: 10%;
    border-radius: 3rem 0 0 3rem;
  }
  .container-grid .area_three .area_three_1st .website {
    font-family: "Neon Energ";
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
  }
  .container-grid .area_three .area_three_1st .New_templet {
    font-family: LTAspirerNeue-Thin;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }
  .container-grid .area_three .area_three_1st .New_templet span {
    color: blueviolet;
  }
  .container-grid .area_three .area_three_1st button {
    font-family: SS;
    font-size: 2rem;
    height: 8vh;
    background-color: blueviolet;
    border: none;
    border-radius: 3rem;
  }
  .container-grid .area_three .area_three_1st button:hover {
    background-color: #6922ac;
  }
  .container-grid .area_three .area_three_2nd {
    grid-area: w2;
    background-image: url(img/area_3/—Pngtree—lines\ seamless\ pattern_7301526.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    border: 1px solid black;
    filter: invert(1);
  }
  .container-grid .area_three .area_three_3rd {
    grid-area: w3;
    background-color: #000000;
    display: grid;
    grid-template-areas: "text img";
    border-radius: 3rem 0 0 3rem;
  }
  .container-grid .area_three .area_three_3rd .three_text {
    grid-area: text;
    display: flex;
    align-items: end;
  }
  .container-grid .area_three .area_three_3rd .three_img {
    grid-area: img;
    display: flex;
    align-items: start;
    justify-content: end;
    margin-right: 3rem;
  }
  .container-grid .area_three .area_three_3rd img {
    filter: invert(1);
    height: 7vh;
  }
  .container-grid .area_three .area_three_3rd button {
    margin-top: 1.5vh;
    background-color: #8a2be2;
    padding: 1rem;
    border: none;
    border-radius: 50%;
  }
  .container-grid .area_three .area_three_3rd p {
    font-family: "Midorima";
    font-size: 3rem;
    padding: 1rem;
  }
  .container-grid .area_three .area_three_3rd span {
    color: blueviolet;
  }
  /*------------------------ final ------------------------*/

  /*set the layout*/
  .container-grid {
    display: grid;
    grid-auto-columns: 12% 55% 34%;
    grid-template-areas:
      "one"
      "two"
      "three";
  }
  .container-grid {
    grid-template-areas: "one two three";
  }
  .container-grid .head {
    grid-area: one;
  }
  .container-grid .main {
    grid-area: two;
  }
  .container-grid .area_three {
    grid-area: three;
    z-index: 2;
  }
}
